In [1]:
#import libraries
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#import dataset
df=pd.read_csv("C:/Users/SAI SAATHWIK DUSSA/Downloads/house_price.csv")

# CLEANED DATA SET

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

# We have categorical variables so need to one hot encoding
# FEATURE ENGINEERING

In [4]:
df_encoded=pd.get_dummies(df,columns=["mainroad","guestroom","basement","hotwaterheating","airconditioning","prefarea","furnishingstatus"],drop_first=True)

In [5]:
df_encoded.head(10)

,price,area,bedrooms,bathrooms,stories,parking,mainroad_yes,guestroom_yes,basement_yes,hotwaterheating_yes,airconditioning_yes,prefarea_yes,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,13300000,7420,4,2,3,2,1,0,0,0,1,1,0,0
1,12250000,8960,4,4,4,3,1,0,0,0,1,0,0,0
2,12250000,9960,3,2,2,2,1,0,1,0,0,1,1,0
3,12215000,7500,4,2,2,3,1,0,1,0,1,1,0,0
4,11410000,7420,4,1,2,2,1,1,1,0,1,0,0,0
5,10850000,7500,3,3,1,2,1,0,1,0,1,1,1,0
6,10150000,8580,4,3,4,2,1,0,0,0,1,1,1,0
7,10150000,16200,5,3,2,0,1,0,0,0,0,0,0,1
8,9870000,8100,4,1,2,2,1,1,1,0,1,1,0,0
9,9800000,5750,3,2,4,1,1,1,0,0,1,1,0,1

In [6]:
#split x and y

In [7]:
x=df_encoded.drop("price",axis=1)
x[:5]

,area,bedrooms,bathrooms,stories,parking,mainroad_yes,guestroom_yes,basement_yes,hotwaterheating_yes,airconditioning_yes,prefarea_yes,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,7420,4,2,3,2,1,0,0,0,1,1,0,0
1,8960,4,4,4,3,1,0,0,0,1,0,0,0
2,9960,3,2,2,2,1,0,1,0,0,1,1,0
3,7500,4,2,2,3,1,0,1,0,1,1,0,0
4,7420,4,1,2,2,1,1,1,0,1,0,0,0

In [8]:
y=df_encoded['price'].values

In [9]:
y[:5]

array([13300000, 12250000, 12250000, 12215000, 11410000], dtype=int64)

In [10]:
# split into train and test

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=99)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((408, 13), (137, 13), (408,), (137,))

# MODEL BUILDING

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

# PREDICT VALUES

In [14]:
y_pred=model.predict(x_test)

In [15]:
y_pred[:10]

array([4087552.24320886, 4697805.53174919, 2781014.55183567,
       9464988.55423705, 3752333.75585481, 5577985.16364687,
       5026602.48954524, 6118035.93591791, 6040695.45038026,
       4962166.35865193])

# MODEL EVALUATION

In [16]:
from sklearn.metrics import r2_score,mean_squared_error

In [17]:
r2_score(y_test,y_pred)

0.706825357197507

In [18]:
MSE=mean_squared_error(y_test,y_pred)

In [19]:
MSE

1209875349458.5579

In [20]:
RMSE=MSE**(1/2)

In [21]:
RMSE

1099943.3392036874

# Hence we got Linear Regression model with accuracy 0f 70%